<Soren.Hansen@ril.com> <soren@linux2go.dk>
Piyush Pathak <piyush.pathak@globallogic.com>
Piyush Pathak <piyush.pathak@globallogic.com> <piyush.pathak@ril.com>
Anand Bajpai <anand.bajpai@ril.com>
Anand Bajpai <anand.bajpai@ril.com> <anand.bajpai@in.ril.com>
Mayank Kapoor <mayankkapoor@gmail.com> <mayankkapoormail@gmail.com>
Harish Kumar <hkumarmk@gmail.com>
Jaspreet Walia <jaspreet.walia@ril.com> <walia.jaspreet@gmail.com>
<jaspreet.walia@ril.com> <root@jas-VirtualBox.(none)> 
Pramod Venkatesh <pramod.venkatesh@ril.com>
Rakshita Jain <rakshita.jain@ril.com> <Rakshita Jain>
Peter Jensen <pljensen12345@gmail.com> <peter@linux2go.dk>
