matrix:
  fast_finish: true
  allow_failures:
   - env:
     - TOX_ENVS="pypy-django18,pypy-django19"
  include: 
    - python: 2.7
      script: tox -e py27-flake8,py34-flake8
    - python: 2.7
      env: TOX_ENVS="py27-django18,py27-django19,py34-django18,py34-django19" POSARGS=aasemble.django.apps.buildsvc.tests.PkgBuildTestCase
      sudo: required
      services:
        - docker
      before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq -y mysql-server
        - sudo mysql --defaults-extra-file=/etc/mysql/debian.cnf -e'GRANT ALL ON test_aasemble.* TO test@localhost'
        - sudo apt-get install -y haveged
        - sudo apt-get install -y docker-engine
language: python
services:
  - mysql
python:
  - "2.7"
env:
  - TOX_ENVS="py27-django18,py27-django19,py34-django18,py34-django19"
  - TOX_ENVS="py27-flake8,py34-flake8"
  - TOX_ENVS="pypy-django18,pypy-django19"
install:
  - pip install -U pip
  - pip install -U tox
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y mysql-server
  - sudo mysql --defaults-extra-file=/etc/mysql/debian.cnf -e'GRANT ALL ON test_aasemble.* TO test@localhost'
  - sudo apt-get install -y haveged
script:
  - xvfb-run tox -e $TOX_ENVS -- ${POSARGS}
deploy:
  provider: script
  script: scripts/deploy.sh
  on:
    branch: master
