Django
celery
django-celery
dj-static
python-debian
djangorestframework
git+https://github.com/alanjds/drf-nested-routers
git+https://github.com/akash1808/python-dbuild@f5d86258a3e5ce1a2b0e4b59d34f86678bc1661f#egg=dbuild
chardet
pytz
mysqlclient
django-cors-headers
django-rest-auth
django-allauth
redis
django-bootstrap3
github3.py
docker-py==1.5.0
git+https://github.com/aaSemble/drf-tracking
