PyYAML
Django
celery
django-celery
dj-static
python-debian
djangorestframework
git+https://github.com/alanjds/drf-nested-routers
git+https://github.com/aaSemble/python-dbuild#egg=dbuild
chardet
pytz
mysqlclient
django-cors-headers
git+https://github.com/Tivix/django-rest-auth@3189a5c7a0be6540f8b57642cce71176879205e2#egg=django-rest-auth
django-allauth
redis
django-bootstrap3
github3.py
docker-py
git+https://github.com/aaSemble/drf-tracking#egg=drf-tracking
apache-libcloud
pycrypto
paramiko
python-gnupg
anyjson
amqp==1.4.9
