Django
celery
django-celery
dj-static
python-debian
djangorestframework
git+https://github.com/alanjds/drf-nested-routers
chardet
MySQL-python
django-cors-headers
django-rest-auth
django-allauth
redis
django-bootstrap3
