{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}


{% block bootstrap3_extra_head %}
    <link href="{% static "aasemble/main/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_title %}{{ title }}{% endblock %}
{% block bootstrap3_content %}

    <!-- Custom styles for this template -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{% url "profile" %}">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block aasemble_container %}
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" >
            <li><a href="{% url "index" %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url "buildsvc:repositories" %}">Repositories</a></li>
            <li><a href="{% url "buildsvc:sources" %}">Sources</a></li>
            <li><a href="{% url "buildsvc:builds" %}">Builds</a></li>
            <li><a href="{% url "buildsvc:external_dependencies" %}">External Dependencies</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url "mirrorsvc:mirrors" %}">Mirrors</a></li>
            <li><a href="{% url "mirrorsvc:mirrorsets" %}">Mirror-Sets</a></li>
            <li><a href="{% url "mirrorsvc:snapshots" %}">Snapshots</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{% block title %}Dashboard{% endblock %}</h1>
          {% block aasemble_content %}

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endblock %}

        {% bootstrap_messages %}

    </div>
  {% endblock %}

{% endblock %}
{% block bootstrap3_extra_script %}
  <script>
    $('li').has('a[href="{{ request.path }}"]').addClass('active');
  </script>
{% endblock %}
