{% extends 'aasemble/base.html' %}
{% load bootstrap3 %}

{% block aasemble_container %}
<div class="jumbotron">
  <h1>Welcome to {{ title }}</h1>
  <p>There's not much to see here without logging in...</p>
  <p><a class="btn btn-primary btn-lg" href="/accounts/github/login/" role="button" id="login_button">Log in</a></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Package building</h2>
      <p>Choose any of your repositories on Github and have our package building service turn it into Debian packages.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Mirrors and snapshots</h2>
      <p>Mirror any APT repository and create versioned snapshots of your mirror collection. Using snapshots lets you test updates before tested before being pushed to production.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
<!--    <div class="col-md-4">
      <h2>Upgrade orchestration</h2>
      <p>Describe your upgrade sequence and use our web service to orchestrate your upgrade rollout. We'll help ensure things get upgraded in the correct order and in a way that lets your service stay up during the upgrade.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Deployment Engine</h2>
      <p>Use our deployment engine to not just deploy your application, but also provision the infrastructure to host it.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Deployment Engine</h2>
      <p>Use our deployment engine to not just deploy your application, but also provision the infrastructure to host it.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Host Agent</h2>
      <p>Our host agent runs on every host, provides near real-time monitoring, alerting, service discovery and integration with our upgrade orchestration service.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div> -->
  </div>
  
  <hr>
  <footer>
    <p>&copy; {{ title }} 2015</p>
  </footer>
</div>

{% endblock %}
