{% extends 'aasemble/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Builds{% endblock %}
{% block aasemble_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Source</th>
          <th>Version</th>
          <th>Build started</th>
          <th>Build log</th>
        </tr>
      </thead>
      <tbody>
        {% for build in builds %}
        <tr>
          <td><a href="#">{{ build.source.series.repository.name }}</a></td>
          <td><a href="#">{{ build.source.name }}</a></td>
          <td><a href="#">{{ build.version }}</a></td>
          <td><a href="#">{{ build.build_started|naturaltime }}</a></td>
          <td><a href="{{ build.buildlog_url }}">Build log</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
