{% extends 'aasemble/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Builds{% endblock %}
{% block aasemble_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Source</th>
          <th>Version</th>
          <th>Build started</th>
          <th>Build finished</th>
          <th>Build duration (sec)</th>
          <th>Build log</th>
        </tr>
      </thead>
      <tbody>
        {% for build in builds %}
        <tr>
          <td>{{ build.source.series.repository.name }}</td>
          <td>{{ build.source.name }}</td>
          <td>{{ build.version }}</td>
          <td>{{ build.build_started|naturaltime }}</td>
          <td>{{ build.build_finished|naturaltime }}</td>
          <td>{{ build.duration }}</td>
          <td><a href="{{ build.buildlog_url }}">Build log</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
