{% extends 'aasemble/base.html' %}
{% load bootstrap3 %}

{% block title %}Package Source{% endblock %}
{% block aasemble_content %}
<form action="{% url "buildsvc:package_source" source_id=source_id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
        <button type="submit" class="btn btn-danger" name="delete" value="delete">
             Delete
        </button>
    {% endbuttons %}
{% endblock %}

