{% extends 'aasemble/base.html' %}
{% load bootstrap3 %}

{% block title %}Package Sources{% endblock %}
{% block aasemble_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Repository</th>
          <th>Branch</th>
          <th>Destination APT repo</th>
          <th>Last built commit</th>
          <th>Rebuild</th>
        </tr>
      </thead>
      <tbody>
        {% for source in sources %}
        <tr>
          <td><small><a href="{% url "buildsvc:package_source" source_id=source.id %}">{% bootstrap_icon "pencil" %}</a></small></td>
          <td><a href="{{ source.git_url }}">{{ source.git_url }}</a></td>
          <td><a href="{{ source.git_url }}/tree/{{ source.branch }}">{{ source.branch }}</a></td>
          <td><a href="#">{{ source.series }}</a></td>
          {% if source.last_seen_revision == None %}
              <td>None</td>
          {% else %}
              {% with source.git_url|add:"/commit/"|add:source.last_seen_revision as last_commit_url %}
              <td><a href="{{ last_commit_url }}">{{ source.last_seen_revision }}</a></td>
              {% endwith %}
          {% endif %}
          <td><small><center><a href="{% url "buildsvc:rebuild" source_id=source.id %}">{% bootstrap_icon "repeat" %}</a></center></small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="btn btn-primary" href="{% url "buildsvc:package_source" source_id='new' %}" role="button">{% bootstrap_icon "plus" %} New</a>
{% endblock %}
