{% extends 'overcast/base.html' %}
{% load bootstrap3 %}

{% block title %}APT repositories{% endblock %}
{% block overcast_content %}
  {% for repository in repositories %}
  <h2>{{ repository.name }}</h2>
  <pre>
deb <a href="{{ repository.base_url }}">{{ repository.base_url }}</a> {{ repository.first_series.name }} main
deb-src <a href="{{ repository.base_url }}">{{ repository.base_url }}</a> {{ repository.first_series.name }} main
  </pre>
  <h3>Sources:</h3>
  <div class="table-responsive">
    <table class="table table-striped">
        <tr>
          <th>Owner</th>
          <th>Name</th>
          <th>Branch</th>
        </tr>
      </thead>
      <tbody>
        {% for source in repository.first_series.packagesource_set.all %}
        <tr>
          <td>{{ source.github_repository.repo_owner }}</td>
          <td>{{ source.github_repository.repo_name }}</td>
          <td>{{ source.branch }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
{% endblock %}
