Source: {{ pkgname }}
Section: misc
Priority: optional
Maintainer: Overcast Pkgbuild Service <pkgbuild@overcastcloud.com>
Build-Depends: debhelper (>= 9.0.0), python-all, dh-python, python-setuptools
Standards-Version: 3.9.4
Vcs-Git: {{ source.github_repository.url }}
Vcs-Browser: {{ source.github_repository.url }}

Package: {{ pkgname }}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}{% if source.is_python %}, ${python:Depends}{% endif %}
Description: Automatically built {{ pkgname }} package
 This package was built by Overcast package building service using
 code from the {{ source.branch }} branch at {{ source.github_repository.url }}.
