Source: {{ pkgname }}
Section: misc
Priority: optional
Maintainer: aaSemble Package Builder <pkgbuild@aasemble.com>
Build-Depends: debhelper (>= 9.0.0){% for dependency in builder.build_dependencies %},
  {{ dependency }}{% endfor %}
Standards-Version: 3.9.4
Vcs-Git: {{ builder.package_source.github_repository.url }}
Vcs-Browser: {{ builder.package_source.github_repository.url }}

Package: {{ builder.binary_pkg_name }}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}{% for dependency in builder.runtime_dependencies %},
  {{ dependency }}{% endfor %}
Description: Automatically built {{ pkgname }} package
 This package was built by aaSemble Package Builder using
 code from the {{ builder.package_source.branch }} branch at {{ builder.package_source.github_repository.url }}.
