Archive: {{ series.name }}
Component: {{ component }}
Origin: {{ series.repository.name.capitalize }}
Label: {{ series.repository.name.capitalize }}
Architecture: {{ architecture }}
Description: {{ series.repository.name }} {{ series.name }}
